@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600");

/* Get rid of bloody scrollbars. I love Stack Overflow. */
html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

/* Navbar */
body {
  margin: 0;
  background: #222;
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: #55d6aa;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: "";
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

/* Headers */
h1 {
  display: inline-block;
  padding: 20px;
  background: linear-gradient(90deg, #ff512f 10%, #ff512f 50%, #dd2476 90%);
  color: white;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.bordered-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Home page cards */
.card {
  position: relative;
  width: 220px;
  height: 320px;
  background: mediumturquoise;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  margin-left: 20px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card::before,
.card::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  background-color: lightblue;
  transition: all 0.5s;
}

.card::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.card::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100% 0 15px;
}

.card:hover::before,
.card:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all 0.5s;
}

.card:hover:after {
  content: attr(data-editable-text);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  outline: none;
}

.card:hover {
  transform: scale(1.1);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Cuisine information cards */
.info-card {
  width: calc(100% - 40px);
  max-width: 1650px;
  height: auto;
  border-radius: 15px;
  box-shadow: 1px 5px 60px 0px #100a886b;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
  margin-bottom: 40px; /* Adjust this value for extra spacing */
}

.card-container::after {
  content: "";
  display: table;
  clear: both;
}

.info-card:hover {
  transform: scale(1.1);
}

.info-card span {
  font-weight: 600;
  color: white;
  display: block;
  padding-top: 10px;
  font-size: 28px;
}

.info-card .job {
  font-weight: 400;
  color: white;
  display: block;
  padding-top: 5px;
  font-size: 22px;
}

.info-card .img {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.info-card button {
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

.info-card button:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.info-card button:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

/* Image dimensions for information cards */

.img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
